body {
  background-color: #8e99af;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dogs {
  width: 200px;
  height: 200px;
  border-style: solid;
  border:#282c34, 10px;
  border-radius: 20%;
  box-shadow:#282c34;
}
/* .dogs:hover {

} */

.dogs-boxes {
  display: flex;
  margin: 20px;
  align-items: center;
  
}

.box {
  margin: 20px;
}

.info {
  display: block;
  align-items: center;
  align-self: center;
  border-style: solid;
  border-radius: 20%;
  border-color: #282c34;
  border:#282c34, 15px;
  width: 300px;
  background-color: aliceblue;
}

.active {
  border-color: red;
}

.dogs:hover {
  border-color: red;
}
